table,
th,
td {
	border-collapse: collapse;
	border: 1px solid black;
}

.contracheque-box {
	padding-top: 30px;
}
.contra-cheque {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
	padding: 20px;
	margin: 20px;
}
.contra-cheque {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.save-pdf {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.save-pdf-p {
	color: #fff;
	margin: 0;
}
