@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;600;800&display=swap");

body {
	margin: 0;
	font-family: "Roboto", sans-serif, -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: "Libre Franklin", sans-serif, "Roboto", sans-serif,
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	color: #1a3754;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

button.Toastify__close-button.Toastify__close-button--light {
	background-color: white;
	width: 40px;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #e5eff1;
}
.loading img {
	width: 100px;
}

p {
	margin: 0;
}
