.avatar img {
	width: 80px !important;
	height: 80px;
	border-radius: 100%;
	background-color: #fff;
	margin: 0 auto;
}

.logo {
	cursor: pointer;
}

.container-content-MainTemplate form {
	width: 100%;
	height: 100%;
}
.main-container-MainTemplate {
	height: 100vh;
	width: 100vw;
}
.backgound-MainTemplate {
	width: 100vw;
	height: 100vh;
	background-color: antiquewhite;

	display: flex;
	justify-content: center;
	flex-flow: column;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.topBar-MainTemplate img {
	height: 100%;
}
.avatar-MainTemplate {
	display: flex;
	flex-wrap: nowrap;
	align-content: stretch;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 20px;
	margin-left: 20px;
}
.topBar-MainTemplate {
	display: flex;
	padding: 0 20px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
	z-index: 1;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: space-between;
	justify-content: center;
	justify-items: center;
	height: 10%;
}

.container-MainTemplate {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	align-content: space-around;
	flex-wrap: nowrap;
	flex-direction: column;

	min-width: 300px;

	background-color: aliceblue;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

	overflow: overlay;
}

.container-top-MainTemplate {
	margin-top: -15px;
	margin-left: 20px;
}

.avatar-MainTemplate svg {
	cursor: pointer;
}

.header {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.header svg {
	cursor: pointer;
}

.home-bts {
	display: flex;
	padding: 30px 0 10px 0px;
	gap: 10px;
}

button.baseTableLayout {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}
