<style>
    .container {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.2em;
    }
    img{
        width: 20%;
    }
</style>
<div class="container">
    <br/>
    <img src="https://i.imgur.com/5EioM45.png" alt="logo">
    <br/>
    <span>Oi, {{name}}</span>
    <span>Foi solicitado alteração de senha.</span>
    <span>Para alterar a senha, <a href="{{link}}">click aqui</a></span>
    <span>Caso não tenha sido você, ignore este email</span>
    <br/>
    <h3>Equipe | <strong>goPortal</strong></h3>
</div>